html{
    background: burlywood;
}
.container {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*ms-transform: translate(-50%, -50%);*/
    background-color: darkgrey;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

btn:hover {
    background-color: black;
}
.newgamebtn{
    margin:0 auto;
    display:block;
    text-align:center;
}

.newgamebtn:hover{
    background-color: sandybrown;
}
.table{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    margin: fill auto;
    background: burlywood;
    gap: 10px;
    justify-content: center;
}

.playerChoices{
    padding-bottom: 10px;
}

.results .gameMessage{
    display: grid;
    padding: 10%;
}
.aiChoices{
    padding-bottom: 10px;
}
